@media screen and (min-width: 1000px) {
    header, .hero, footer {
        max-width: 1350px;
        width: 100%;
        height: 100%;
        background-color: rgb(74, 197, 238);
        text-align: center;
    }

    main {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    section.data, section.weather {
        max-width: 300px;
        padding: 10px;
    }

    section.data {
        position: absolute;
        left: 280px;
        z-index: 1;
    }

    section.weather {
        position: absolute;
        bottom: 150px;
        right: 300px;
        z-index: 1;
    }

    .weather::after {
        content: ''; 
        background-image: url("images/1530391_weather_clouds_sun_sunny_icon.svg"); 
        background-size: contain; 
        width: 50px; 
        height: 50px; 
        margin-left: 10px; 
    }

  

  
}